# misc
EMBEDDING_DIM= # this is just a default value, it will be overridden by the environment variable if set

# gemini
GEMINI_API_KEY=

# cohere
COHERE_API_KEY=

# database
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=